*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
footer{
    background-image: linear-gradient(130deg, #0b0b0b, #343434);
    
    padding: 50px 0;
}
.cf{
    max-width: 1400px;
    padding: 0 4%;
    margin: auto;
}
.rf{
    display: flex;
    flex-wrap: wrap;
}

.fc{
    width: 25%;
    padding: 0 15px;
}
.fc h4{
    font-size: 22px;
    color: white;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
}
.fc ul{
    list-style: none;
}
.fc ul li{
    margin: 10px 0;
}
.fc ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
    display: flex;
}
.fc ul li a:hover{
    color: #cecdcd;
    padding-left: 10px;
}

.fc .form-sub input{
    width: 100%;
    padding: 10px;
    font-size: 15px;
    outline: none;
    border: 1px solid white;
    color: white;
    background-color:  rgb(23, 23, 54);
}
.fc .form-sub input::placeholder{
    color: white;
}
.fc .form-sub button{
    width: 100%;
    margin-top: 10px;
    padding: 10px; 
    font-size: 17px;
    outline: none;
    border: none;
    cursor: pointer;
    color: rgb(23, 23, 54);
    border-radius: 3px;
    font-weight: bold;
    background-color: white;        
}

form{
    display: flex;
    flex-direction: column;
    width: 70%;}

    form [type="submit"]{   /*aqui esta apenas formatando este formulario*/
        height: 60px;
        width: 60%;
        background-color: blueviolet;
        color:white;
        font-weight: bold;
       }
       
       form [type="submit"]:hover{
       
           cursor:pointer;
       } 
       
       input{
           margin-top: 25px;
           height: 40px;
           border-radius: 20px;
           border:none;
           font-size: 15px;
           text-align: center;
           margin: 10px 0px 0px 0px;
       }

       .fs button{
        height: 50px;
        width: 150px;
        background-color: #3533cd;
        border-radius: 50px;
        margin-left: 25px;
        color: white;
       
        font-size: 15px;
        
       }
       

      .fs button:hover{
        transform: scale(1.2);

      }
    
 .code{
    margin-left: 50px;
    margin-top: -120px;
 }

 .escola img{
    display:flex;
    position: absolute;
    align-items: center;
 }

 .escola h4{
    font-size: 22px;
    color: white;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
}


